<h3 class="autobaby" style="text-align:center">About WheezyJack</h3>
<br/>
<body class="well">
<p class="autobaby">This application was built using Ruby, HTML, CSS, AJAX, and 
the Twitter Bootstrap framework.</p>
<br/>

<p class="autobaby">Make sure to come by often to check for updates! New features will continuously
be added to this game, and new games will also be added in the future!</p>
<br/>
<br/>

<a href="http://en.wikipedia.org/wiki/Ruby_(programming_language)"><img src="/images/background/ruby.jpg" id="ruby-logo"></a>
<br/>
<a href="http://en.wikipedia.org/wiki/HTML5"><img src="/images/background/html5-logo.jpg" id="html5-logo"></a>
<br/>
<a href="http://en.wikipedia.org/wiki/Ajax_(programming)"><img src="/images/background/ajax-logo.jpg" id="ajax-logo"></a>
<br/>
<a href="http://getbootstrap.com/"><img src="/images/background/twitter-bootstrap.jpg" id="bootstrap-logo"></a>
</body>

