<h3>Thanks for playing!</h3>
Did the House take all your monies? <strong>Don't let the House win!</strong> Reload, hit the table, and show them who's boss!

<br/>
<br/>

<a href="/new_player" class="btn btn-success">Reload and Play again</a>