<h3 class="autobaby" style="text-align:center">Wheezyjack Rules</h3>
<body class="well">
<p class="autobaby"> Welcome to Wheezyjack! I'm Wheezy, let me explain the rules </p>
<ul>
  <li><p class="autobaby"> Wheezyjack is basically blackjack.  The object of the game is to get as close to 21, without going over. For a detailed explanation of the rules, feel free to visit
  <a href="http://www.blackjackinfo.com/blackjack-rules.php">Blackjackinfo.com</a></p>
  </li>
  <li><p class="autobaby">Here's where Wheezyjack is different.</p>
    <ul>
      <li><p class="autobaby">There is no option to double down</p></li>
      <li><p class="autobaby">There is no option to split</p></li>
    </ul>
  </li>
</ul>

<p class="autobaby">Why aren't those options available? I just haven't gotten around to coding them yet!  Don't worry, this game will be continuously updated, so new features (and even new games) are coming soon! </p>
</body>

<br/>
<img src="/images/background/blackjack-pic.jpg" id="blackjack-logo">
